.sectionGallery {
  max-width: 85%;
  margin: 20px auto;
  margin-top: 12em;
}

.containerLeftRight {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.leftGallery {
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftTextRef {
  position: fixed;
  top: 47%;
  left: 15%;
  right: 63%;
  transform: translate(-50%, -20%);
  text-align: end;
  color: #978d91;
}

.leftTextRef h3 {
  color: #978d91;
  font-weight: 500;
  margin-bottom: 0em;
}

.leftTextRef p {
  font-style: italic;
}

.barRight {
  position: fixed;
  top: 38%;
  left: 29%;
  width: 2px;
  height: 28%;
  background-color: #978d91;
  filter: brightness(140%);
}

.titleGallery {
  position: fixed;
  color: #978d91;
  filter: brightness(120%);
}

.galleryContent {
  width: 70vw;
  columns: 3 250px;
  gap: 25px;
}

.galleryContent img {
  margin-bottom: 20px;
  width: 100%;
}

.sectionYetAvailable {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerYetAvailable {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: 10vh;
  background-color: #ededed;
  padding: 2em;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/* --- popup pour la suppression d'une image --- */

.trashIcon {
  margin-bottom: 2em;
}

.trashIcon:hover {
  cursor: pointer;
  color: red;
}

.deletePopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.deletePopup .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.deletePopup .popup {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.deletePopup p {
  margin-bottom: 20px;
  font-weight: bold;
}

.deletePopup button {
  margin: 0 10px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.deletePopup button:nth-child(1) {
  background-color: red;
  color: white;
}

.deletePopup button:nth-child(2) {
  background-color: grey;
  color: white;
}

@media screen and (max-width: 1500px) {
  .barRight {
    left: 29%;
  }

  .leftTextRef {
    left: 15%;
  }
}

@media screen and (max-width: 800px) {
  .leftTextRef {
    font-size: 2vw;
  }
}

@media only screen and (max-width: 873px) {
  .sectionGallery {
    margin-top: 20em;
  }
}

@media only screen and (max-width: 1140px) and (min-width: 700px) {
  .sectionGallery {
    margin-top: 20em;
  }

  .barRight {
    position: fixed;
    top: 40%;
    left: 29%;
    width: 2px;
    height: 23%;
  }
}

@media only screen and (max-width: 872px) {
  .sectionGallery {
    margin-top: 20em;
  }
  .galleryContent {
    width: 100vw;
    columns: 1 250px;
    gap: 20px;
  }

  .galleryContent img {
    margin-bottom: 10px;
    width: 100%;
  }
}

@media only screen and (max-width: 872px) and (min-width: 700px) {
  .barRight {
    position: fixed;
    top: 40%;
    left: 29%;
    width: 2px;
    height: 23%;
  }
}

@media screen and (max-width: 873px) {
  .galleryContent {
    width: 100%;
  }

  .metadataElement {
    color: #978d91;
    margin-top: -0.5em;
    margin-bottom: 2em;
  }
  .metadataElement p {
    margin: 0;
  }
}

@media screen and (max-width: 520px) {
  .metadataElement {
    font-size: 3vw;
  }
}
